* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #0A0A0D;
  color: #f3f4f4;
}

a {
  color: #f3f4f4;
  text-decoration: none;
}